<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% provide(:title, @user.username) %></title>

  <style>
      body {
          background-color: #f4f4f4;
          font-family: Arial, sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
      }

      .card {
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
          display: flex;
          flex-direction: row;
          position: relative;
          width: 70%;
      }

      .avatar-column {
          background-color: #4285f4;
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
      }

      .user-details-column {
          padding: 20px;
          position: relative;
          flex: 1; /* Добавляем этот стиль для занимания всего доступного пространства */
      }

      h1 {
          margin: 0;
          margin-bottom: 10px; /* Добавляем отступ снизу для расположения кнопки "Назад" */
      }

      p {
          margin: 5px 0;
          color: #666;
      }

      .btn-back {
          position: absolute;
          bottom: 5px;
          right: 5px;
          padding: 10px 15px;
          border: 2px solid #4285f4;
          border-radius: 8px;
          text-decoration: none;
          color: #4285f4;
          transition: all 0.3s ease;
      }

      .btn-back:hover {
          background-color: #4285f4;
          color: #fff;
      }
  </style>
</head>
<body>
<div class="card">
  <div class="avatar-column">
    <%= gravatar_for @user%>
    <i class="far fa-edit mt-3" style="font-size: 1.5rem;"></i>
  </div>
  <div class="user-details-column">
    <h1><%= @user.username %></h1>
    <p>Email: <%= @user.email %></p>
    <!-- Add more user details here -->
    <a href="/" class="btn-back">Назад</a>
  </div>
</div>
</body>
</html>
