<div class="center jumbotron main_container">
  <%= image_tag "logo.png" %>
  <h1 class="main_h">РЗТ</h1>
  <%= link_to "Зарегистрируйтесь сейчас!", signup_path, class: "btn btn-lg content_btn" %>
</div>